<!DOCTYPE html>
<html>
    <head>
        <title>Práctica 2 - DAW</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>SEGUNDA MARKET</h1>
            <img src="../images/segunda-mano.png" alt="logotipo de la tienda">
        </header>
        
        <nav>
            <a>Inicio |</a>
            <a>Categorías |</a>
            <a>Artículos |</a>
            <a>Formulario</a>
        </nav>
        
        <section>
            Contenido
        </section>
        
        <footer>
            &COPY;2022 - Saúl Rodríguez Naranjo
        </footer>
    </body>
</html>
